* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #4d5562;
}
.container {
  max-width: 380px;
  padding: 20px 20px 0;
  background-color: #f8fafc;
  margin: 6% auto;
}
header {
  text-align: center;
  margin-bottom: 30px;
}
.page-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 25px;
}
header p {
  color: #d9d9d9;
  font-size: 0.815rem;
}

.inner-box {
  margin-bottom: 4%;
}

.img-box,
.image {
  border-radius: 10px;
}
.img-box,
.text-info-header {
  margin-bottom: 15px;
  font-weight: 500;
}
.text-info-date {
  color: #4d5562;
  font-size: 0.855rem;
  font-weight: 500;
}

@media only screen and (min-width: 472px) {
  .container {
    max-width: 800px;
    padding: 3% 10%;
  }
  .inner-box {
    display: flex;
    column-gap: 30px;
  }
  .text-info{
    align-self: center;
  }
}

@media only screen and (min-width: 800px) {
  .container {
    max-width: 1024px;
    padding: 3% 12%;
  }
}
